@import (reference) "variables.less";
@import (reference) "functions.less";
html,body{
  .full-h;
}
.app-view{
  .full-h;
}
body{
  .no-space;
}
.app-view{
  .relative;
  .top;
}
header{
  background-color: @header-bg;
  min-height: @header-height;
}
main{
  .full-h;
}
.footer{
  .bottom;
  height: 50px;
}
