@import (reference) "variables.less";
@import (reference) "functions.less";
html,body{
  .full-h;
}
.app-view{
  .full-h;
  .box;
  padding-top: @header-height+10;
  padding-bottom: @header-height+10;
}
body{
  .no-space;
  font-size: @main-text-size;
  font-family: @main-font-family;
}
.app-view{
  .relative;
  .full-w;
  .full-h;
}
header{
  .absolute;
  .top;
  .full-w;
  .row;
  .hcenter;
  .box;
  align-items: center;
  background-color: @header-bg;
  min-height: @header-height;
  padding:@header-padding;
  z-index: @header-z-index;
  .logo{
    max-width:@header-height*0.9;
  }
}
main{
  background-color:lighten(@header-bg,5%);
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;
}
.task-list{
  .no-space;
  overflow-y: auto;
  li{
    font-size:@main-text-size*1.5;
    color:#666666;
    background-color: lighten(@header-bg,25%);
    padding:10px 5px;
    margin-bottom: 2px;
    box-shadow: 1px 1px 2px darken(@header-bg,10%);
  }
}
.footer{
  .absolute;
  z-index: @header-z-index;
  .bottom;
  .full-w;
  height: @header-height;
  background-color:@header-bg;
}
#input{
  .no-space;
  .row;
  .full-h;
}

.input-bg{
  background:lighten(@header-bg, 10%);
  flex:2 0 0;
  .full-h;
}
.button-bg{
  background:lighten(@header-bg, 10%);
  padding:@header-height*0.1;
  .row;
  .vcenter;
  .hcenter;
  .add-button{
    width:@header-height*0.9;
    height:@header-height*0.9;
    border-radius: 50%;
    border:0;
    color:lighten(@header-bg, 10%);
    background:red;
    font-size: @main-text-size*2;
    .row;
    .vcenter;
    .hcenter;
  }
}
.text-box{
  .full-w;
  .box;
  border:0;
  min-height: 100%;
  background-color:transparent;
  display: block;
  padding:5px;
  font-size: @main-text-size*1.5;
}
.text-box:focus{
  outline:0;
}
