doctype html
html
  head
    meta(name='viewport',value='width=device-width,initial-scale=1')
    title="doneit"
    link(rel='stylesheet',href='css/styles.css')
  body
    .app-view
      header.header
        img(src='images/icon.png')
      main
        ul(class='task-list')
      footer.footer
        .input-box
          input.text-box
    script(src='js/jquery-3.1.0.min.js')
    script(src='main.js')
